<%= form_with(model: credit_card) do |form| %>
  <% if credit_card.errors.any? %>
  <%= form_with model: @credit_card do |c|%>
    <%= f.text_field :card number, placeholder:"Enter number"%><br>
    <%= f.text_field :expiration date, placeholder:"Enter date"%><br>
    <%= f.text_field :cvv, placeholder:"Enter cvv"%><br>

      <%end%>
    <%= f.submit "submit" %> 
      
    <div style="color: red">
      <h2><%= pluralize(credit_card.errors.count, "error") %> prohibited this credit_card from being saved:</h2>

      <ul>
        <% credit_card.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
   <div>
   <%= form.label :card_number, style: "display: block" %>
   <%= form.text_field :card_number %>
   </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
